* {
  user-select: none;
  font-size: 20px;
}

#before-after-container {
  display: grid;
  max-width: 900px;
  width: 100%;
  margin: 1rem auto 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

label:has(input[type="file"]) {
  /* making the element block level */
  width: 100%;
}